<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
	<title>{{ title }}</title>
	<link rel="stylesheet" href= "/css/corrected.css">
	<meta charset="utf-8">
</head> 
<body> 
	<div class="header">

<div class="logo">
	<div><img src="/assets/wild_pomegranate_pink.png" alt="Pink pomegranate"></div>
</div>

<div class="header-texts">
<h1>Wild Pride</h1>
<div class="header-motto">Our pride cannot be bought</div>
	{% include 'main-nav.njk' %}
	</div>
	</div>

	<h2> Some event posters in the line-up</h2>

{% include 'mosaic.njk' %}

	<div class="container">
	{{ content | safe }}
	</div>
</section>

</section>
{% include 'footer.njk' %}
</body> 
</html>
