<footer>
<div class="thanks">Hosted by <a href="https://koumbit.org">Koumbit</a>, and inspired by <a href="https://brulances.wordpress.com/">the site of the Brulances festival</a></div>
<div class="contacts"><ul><li>Email: wildpridemtl@gmail.com</li><li>Instagram:<a href = "https://www.instagram.com/wildpridemontreal/">@wildpridemontreal</a></li> <li>Mastodon: <a href = "https://kolektiva.social/@wildpridemtl">wildpridemtl@kolektiva.social</a></li></div>
</footer>

