{% set navMain = navMain[lang] if lang else navMain['en'] %}

<nav> 
<ul class="main-nav">
	<li><a href= "/">Home</a></li>
	<li><a href = "/en/about">About</a></li>
	<li><a href = "/en/accessibility">Accessibility</a></li>
	<li><a href = "/en/getinvolved">Get Involved</a></li>
	<li><a href="/en/march">March</a></li>
	<li><a href="/en/communitydays">Community Days</a></li>
	<li class="push"><a href = "/fr/accueil">Francais</a></li>
</ul>
</nav>


